<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superheroes</title>
    <%- include('partials/links') %>
</head>
<body>
    <%- include('partials/navbar') %> 
    <h1>All the Super Heroes</h1>
    <ul>
        <% for(let hero of heroes){ %>
            <li><%= hero %> </li>
        <% } %>  
    </ul>
</body>
</html>