<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/links') %>
</head>

<body>
    <%- include('partials/navbar') %> 
    <h1>Home Page <%= 4+3+3 %>
    </h1>
    <p>
        <%= 'upper' .toUpperCase() %> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero iste, laudantiumsequinostrum vitae sint. Vitae eaid impedit adipisci accusamus molestiae natus ullam, pariatur dignissimos. In magnam facilis vitae.
    </p>

</body>

</html>